.slide {
  font-size: 24pt;
}

#nextsteps {
   color: blue;
}

div.slide.titlepage {
  text-align: center;
    background-image: url(Rmedicine_title_screen.png);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;  
}


blockquote {
  font-style: italic;
  font-size: 20pt;
}


h1 {
    font-size: 36pt !important;
    color: darkblue;
}

h2 {
    font-size: 32pt !important;
    color: #0020C2;
}

h5 {
    font-size: 24pt !important;
    color: #0020C2;
    text-align: center;
}

h6 {
    margin-top: 48pt;
    font-size: 48pt !important;
    color: #0020C2;
    text-align: center;
}

ins {
   font-size: 48pt;
   color: DarkGreen;
   text-decoration: none;
}

pre {
  margin-left: 0;
  font-size: 15pt;
  line-height: 110%;  
  padding-left: 20px;
}

li code {
  font-weight: bold;
}

code {
  font-weight: bold;

}

code.sourceCode {
  font-weight: bold;
  font-size: 15pt;
  line-height: 110%;  
}